In [4]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt

# Load the new data
file_path = 'originalmesicni.csv'
data = pd.read_csv(file_path)

# Ensure data integrity by checking for duplicates and only working with the loaded rows
data = data.drop_duplicates()

In [5]:

data

       Date  Monthly Averages
0   2023-05           1419.38
1   2023-06           1160.33
2   2023-07            848.78
3   2023-08            975.33
4   2023-09            975.61
5   2023-10            866.36
6   2023-11           1073.42
7   2023-12           1026.69
8   2020-03            669.71
9   2020-04            525.16
10  2020-05            492.82
11  2020-06            701.37
12  2020-07            869.18
13  2020-08            904.14
14  2020-09           1201.03
15  2020-10            990.22
16  2020-11           1100.49
17  2020-12           1355.04
18  2021-01           1468.45
19  2021-02           1310.11
20  2021-03           1406.38
21  2021-04           1562.10
22  2021-05           1515.42
23  2021-06           1911.80
24  2021-07           2181.48
25  2021-08           2162.43
26  2021-09           3292.80
27  2021-10           3585.36
28  2021-11           4578.96
29  2021-12           5781.33
30  2022-01           4392.36
31  2022-02           3788.77
32  2022-03           6535.06
33  2022-04           4253.60
34  2022-05           4673.48
35  2022-06           5556.08
36  2022-07           7855.23
37  2022-08          11707.04
38  2022-09           8980.25
39  2022-10           4124.52
40  2022-11           4793.49
41  2022-12           6093.22
42  2023-01           3224.92
43  2023-02           3300.43
44  2023-03           2624.13
45  2023-04           2476.70
46  2023-05           2011.32
47  2023-06           2266.72
48  2023-07           2079.77
49  2023-08           2228.43
50  2023-09           2483.92
51  2023-10           2321.08
52  2023-11           2270.40
53  2023-12           1788.17
54  2024-01           2047.90
55  2024-02           1743.11
56  2024-03           1650.32
57  2024-04           1595.13
58  2024-05           1711.44
59  2024-06           1921.01

In [14]:
# remove rows 1-6 from "data" and save it to "data2"
data_modified = data.drop(data.index[0:8])

In [16]:
data_modified.to_csv('USETHIS_modifiedmesicni.csv', index=False)

In [2]:
# Convert 'Date' column to datetime if necessary
# Assuming the date column is named 'Date' and is in 'YYYY-MM' format

data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m')

# Extract year and month from the 'Date' column
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month

# Define a function to determine the quarter
def get_quarter(month):
    if month in [1, 2, 3]:
        return 'Q1'
    elif month in [4, 5, 6]:
        return 'Q2'
    elif month in [7, 8, 9]:
        return 'Q3'
    elif month in [10, 11, 12]:
        return 'Q4'

# Apply the function to create a 'Quarter' column
data['Quarter'] = data['Month'].apply(get_quarter)

In [3]:
data

         Date  Monthly Averages  Year  Month Quarter
0  2023-05-01           1419.38  2023      5      Q2
1  2023-06-01           1160.33  2023      6      Q2
2  2023-07-01            848.78  2023      7      Q3
3  2023-08-01            975.33  2023      8      Q3
4  2023-09-01            975.61  2023      9      Q3
5  2023-10-01            866.36  2023     10      Q4
6  2023-11-01           1073.42  2023     11      Q4
7  2023-12-01           1026.69  2023     12      Q4
8  2020-03-01            669.71  2020      3      Q1
9  2020-04-01            525.16  2020      4      Q2
10 2020-05-01            492.82  2020      5      Q2
11 2020-06-01            701.37  2020      6      Q2
12 2020-07-01            869.18  2020      7      Q3
13 2020-08-01            904.14  2020      8      Q3
14 2020-09-01           1201.03  2020      9      Q3
15 2020-10-01            990.22  2020     10      Q4
16 2020-11-01           1100.49  2020     11      Q4
17 2020-12-01           1355.04  2020     12      Q4
18 2021-01-01           1468.45  2021      1      Q1
19 2021-02-01           1310.11  2021      2      Q1
20 2021-03-01           1406.38  2021      3      Q1
21 2021-04-01           1562.10  2021      4      Q2
22 2021-05-01           1515.42  2021      5      Q2
23 2021-06-01           1911.80  2021      6      Q2
24 2021-07-01           2181.48  2021      7      Q3
25 2021-08-01           2162.43  2021      8      Q3
26 2021-09-01           3292.80  2021      9      Q3
27 2021-10-01           3585.36  2021     10      Q4
28 2021-11-01           4578.96  2021     11      Q4
29 2021-12-01           5781.33  2021     12      Q4
30 2022-01-01           4392.36  2022      1      Q1
31 2022-02-01           3788.77  2022      2      Q1
32 2022-03-01           6535.06  2022      3      Q1
33 2022-04-01           4253.60  2022      4      Q2
34 2022-05-01           4673.48  2022      5      Q2
35 2022-06-01           5556.08  2022      6      Q2
36 2022-07-01           7855.23  2022      7      Q3
37 2022-08-01          11707.04  2022      8      Q3
38 2022-09-01           8980.25  2022      9      Q3
39 2022-10-01           4124.52  2022     10      Q4
40 2022-11-01           4793.49  2022     11      Q4
41 2022-12-01           6093.22  2022     12      Q4
42 2023-01-01           3224.92  2023      1      Q1
43 2023-02-01           3300.43  2023      2      Q1
44 2023-03-01           2624.13  2023      3      Q1
45 2023-04-01           2476.70  2023      4      Q2
46 2023-05-01           2011.32  2023      5      Q2
47 2023-06-01           2266.72  2023      6      Q2
48 2023-07-01           2079.77  2023      7      Q3
49 2023-08-01           2228.43  2023      8      Q3
50 2023-09-01           2483.92  2023      9      Q3
51 2023-10-01           2321.08  2023     10      Q4
52 2023-11-01           2270.40  2023     11      Q4
53 2023-12-01           1788.17  2023     12      Q4
54 2024-01-01           2047.90  2024      1      Q1
55 2024-02-01           1743.11  2024      2      Q1
56 2024-03-01           1650.32  2024      3      Q1
57 2024-04-01           1595.13  2024      4      Q2
58 2024-05-01           1711.44  2024      5      Q2
59 2024-06-01           1921.01  2024      6      Q2